body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p._-li-ve-5-li-Cevap {
	color:#000000;
	font-family:"Arial (TT) Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.556;
	margin-bottom:0;
	margin-left:20px;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-20px;
	text-transform:none;
	widows:1;
}
p._lüyen {
	color:#000000;
	font-family:"Arial (TT) Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.667;
	margin-bottom:0;
	margin-left:49px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal {
	color:#000000;
	font-family:"Arial (TT) Regular", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Soru {
	color:#000000;
	font-family:"Arial (TT) Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.556;
	margin-bottom:0;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-20px;
	text-transform:none;
	widows:1;
}
p._-lü-Cevap {
	color:#000000;
	font-family:"Arial (TT) Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.556;
	margin-bottom:0;
	margin-left:20px;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-20px;
	text-transform:none;
	widows:1;
}
span.Normal {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Arial (TT) Regular", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
p.ParaOverride-1 {
	margin-top:0px;
	text-align:left;
}
p.ParaOverride-2 {
	margin-top:0px;
}
p.ParaOverride-3 {
	margin-top:0px;
	page-break-after:always;
}
p.ParaOverride-4 {
	text-align:center;
}
p.ParaOverride-5 {
	margin-top:6px;
	text-align:center;
}
span.CharOverride-1 {
	color:#ec008c;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ec008c;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	font-size:70%;
	vertical-align:super;
}
span.CharOverride-6 {
	font-size:70%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-7 {
	color:#ec008c;
	font-family:"Eurostile (T1) Condensed", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#ec008c;
	font-family:"Eurostile (T1) Condensed", sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#00aeef;
	font-size:8px;
	font-style:normal;
	font-weight:bold;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
img._idGenPageitem-1 {
	height:13px;
	width:95px;
}
img._idGenPageitem-2 {
	height:13px;
	width:15px;
}
img._idGenPageitem-3 {
	height:22px;
	width:105px;
}
img._idGenPageitem-4 {
	height:13px;
	width:20px;
}
img._idGenPageitem-5 {
	height:13px;
	width:99px;
}
img._idGenPageitem-6 {
	height:23px;
	width:100px;
}
img._idGenPageitem-7 {
	height:26px;
	width:99px;
}
img._idGenPageitem-8 {
	height:24px;
	width:137px;
}
img._idGenPageitem-9 {
	height:19px;
	width:9px;
}
img._idGenPageitem-10 {
	height:22px;
	width:9px;
}
img._idGenPageitem-11 {
	height:26px;
	width:64px;
}
img._idGenPageitem-12 {
	height:13px;
	width:46px;
}
img._idGenPageitem-13 {
	height:13px;
	width:87px;
}
img._idGenPageitem-14 {
	height:11px;
	width:20px;
}
img._idGenPageitem-15 {
	height:13px;
	width:23px;
}
img._idGenPageitem-16 {
	height:14px;
	width:37px;
}
img._idGenPageitem-17 {
	height:15px;
	width:36px;
}
img._idGenPageitem-18 {
	height:13px;
	width:17px;
}
img._idGenPageitem-19 {
	height:15px;
	width:75px;
}
img._idGenPageitem-20 {
	height:22px;
	width:14px;
}
img._idGenPageitem-21 {
	height:16px;
	width:84px;
}
img._idGenPageitem-22 {
	height:13px;
	width:22px;
}
img._idGenPageitem-23 {
	height:45px;
	width:84px;
}
img._idGenPageitem-24 {
	height:23px;
	width:16px;
}
div._idGenPageitem-25 {
	height:0px;
	left:0px;
	position:absolute;
	top:0px;
	width:453px;
	z-index:1;
}
div._idGenPageitem-26 {
	height:14px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:453px;
	z-index:0;
}
div._idGenPageitem-27 {
	height:0px;
	left:0px;
	position:absolute;
	top:14px;
	width:453px;
	z-index:2;
}
div._idGenPageitem-28 {
	display:inline-block;
	height:14px;
	position:relative;
	width:454px;
}
img._idGenPageitem-29 {
	height:13px;
	width:102px;
}
img._idGenPageitem-30 {
	height:22px;
	width:94px;
}
img._idGenPageitem-31 {
	height:26px;
	width:84px;
}
img._idGenPageitem-32 {
	height:13px;
	width:30px;
}
img._idGenPageitem-33 {
	height:13px;
	width:61px;
}
img._idGenPageitem-34 {
	height:21px;
	width:16px;
}
img._idGenPageitem-35 {
	height:15px;
	width:42px;
}
img._idGenPageitem-36 {
	height:16px;
	width:67px;
}
img._idGenPageitem-37 {
	height:15px;
	width:91px;
}
img._idGenPageitem-38 {
	height:15px;
	width:90px;
}
img._idGenPageitem-39 {
	height:15px;
	width:81px;
}
img._idGenPageitem-40 {
	height:29px;
	width:51px;
}
img._idGenPageitem-41 {
	height:26px;
	width:96px;
}
img._idGenPageitem-42 {
	height:31px;
	width:148px;
}
img._idGenPageitem-43 {
	height:15px;
	width:77px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-color:#00aeef;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
